<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JUNTAMSAE</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h3>Login</h3>
    <form action="/login" method="POST">
      <div>
        <label>Name</label>
        <input type="text" placeholder="name" name="name">
      </div>
      <div>
        <label>StudentId</label>
        <input type="password" placeholder="studentId" name="studentId">
      </div>
      <button type="submit" class="btn btn-primary">로그인</button>
    </form>
  </div>
  
  <div class="container">
    <h3>Register</h3>
    <form action="/register" method="POST">
      <div>
        <label>Name</label>
        <input type="text" placeholder="name" name="name">
      </div>
      <div>
        <label>StudentId</label>
        <input type="password" placeholder="studentId" name="studentId">
      </div>
      <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
  </div>
</body>
</html>